<h1>#<%= @chatroom.name %></h1>
<div id="messages" data-chatroom-id="<%= @chatroom.id %>">
  <% @chatroom.messages.each do |m| %>
      <%= render 'messages/message', message: m %>
  <% end %>
</div>

<!-- form here to build a message -->
<%= simple_form_for([@chatroom, @message], remote: true) do |f|%>
   <%= f.input :content, label: false, placeholder: "Message ##{@chatroom.name}" %>
  <%= f.submit %>
<% end %>
